:root {
  --background:linear-gradient(to right top, #ffffff, #efedfd, #dfdbfb, #cfc9f8, #beb8f6);;
  --color: rgb(45, 45, 45);
  --gray: rgb(255, 255, 255);
  --gradi:linear-gradient(to right top, #7c7c7c, #8c8c8c, #9d9d9d, #aeaeae, #bfbfbf, #c4c4c4, #cacaca, #cfcfcf, #c9c9c9, #c3c3c3, #bebebe, #b8b8b8);
  --sel:rgb(239, 239, 239);
}

.dark_mode {
  --background: #1C1B1E;
  --color: rgb(255, 255, 255);
  --gray: #25242A;
  --gradi:linear-gradient(to right top, #282828, #292929, #302f2f, #404040, #383838);
  --sel:rgb(78, 78, 78);
}



body {
    height: auto;
    margin: 4px;
    padding: 0;
    color: var(--color);
    background-color:var(--background) !important;
}


.navbar {
  background-color: var(--navbar);
  color: var(--color);
}
#title {
  color: var(--color);
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--gray);
}

#icon {
  cursor: pointer; 
}


#inputUser {
    margin: 60px auto;
    padding: 20px;
    max-width: 70%;
    background-color: var(--gray);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: 400;
}

.form-control,
.form-select {
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary {
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:active {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-funky-moon {
  background: #A770EF; 
  background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); 
  background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); 
  color: #fff;
  border: 3px solid #eee;
}






.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    /* filter: blur(5px);  */
  }
  
  .grid-item {
    padding: 20px;
  }
  



.gridCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
      margin-bottom: 30px;
      color: #162969;
  }
  
  
  .card{
  width: 320px;
  height: 190px;
  border: none;
  }

  .card {
    --bs-border-width: 0;
    --bs-card-bg:none; 
}

  
  .card__part{
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 320px;
    height: 190px;
    background-image: var(--gradi);
    background-repeat: no-repeat;
    border-radius: 8px;
     
  }
  

  .card__front{
    padding: 18px;
  }
  

  
  .card__logo {
      height: 16px;
  }
  
  .card__front-logo{
      position: absolute;
      top: 18px;
      right: 18px;
  }
  .card__square {
    border-radius: 5px;
    height: 35px;   
}
  
  .card_numer {
      display: block;
      width: 100%;
      word-spacing: 4px;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
  }
  
  .card__space-75 {
      width: 50%;
      float: left;
  }
  
  .card__space-25 {
      width: 25%;
      float: left;
  }

  .card__space-35 {
    width: 25%;
    float: left;
}
  
  .card__label {
      font-size: 10px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.8);
      letter-spacing: 1px;
  }
  
  .card__info {
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 16px;
      line-height: 18px;
      color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .text-body {
    color: var(--color);
  }

  .form-control,
  .form-select {
    color:var(--color);
    border: 0;
    background-color:var(--sel);
  }

  a {
    color: var(--color) !important;
  }

  .italic-text em {
    font-style: italic;
    color: #9e9e9e;
  }
  
  .italic-text {
    text-align: center;
    padding-top: 10px;
    margin-left: 11%;
    margin-right: 11%;
  }

  .foottext{
    color: #7c7c7c;
  }